{% extends 'blog/base.html' %}

{% block content %}
<table cellspacing=1 width=700 border=0>
      <tr>
          <td>Total: {{ totalCnt }}</td>
          <td><p align=right> Page:{{ pageForView }}
          </td>
      </tr>
  </table>

  <table cellspacing=1 width=700 border=1>
      <tr>
          <td width=50><p align=center>No.</p></td>
          <td width=100><p align=center>Name</p></td>
          <td width=320><p align=center>Title</p></td>
          <td width=100><p align=center>Date</p></td>
          <td width=100><p align=center>Views</p></td>
      </tr>

      {% if boardList %}
          <ul>
              {% for boardRow in boardList %}
              <tr>
              <td width=50><p align=center>{{ boardRow.id }}</p></td>
              <td width=100><p align=center>{{ boardRow.name }}</p></td>
              <td width=320>
                  <p align=center>
                      <a href="/viewWork?memo_id={{ boardRow.id }}&current_page={{ pageForView }}&searchStr={{searchStr}}" title="{{ boardRow.memo}}">{{ boardRow.subject }}
                  </p>
              </td>
              <td width=100><p align=center>{{ boardRow.created_date }}</p></td>
              <td width=100><p align=center>{{ boardRow.hits }}</p></td>
              </tr>
              {% endfor %}
          </ul>
      {% else %}
          <p>No Data.</p>
      {% endif %}
  </table>

  <table cellspacing=1 width=700 border=1 >
      <tr> <td>
          {% for page in totalPageList %}
              <a href="/listSearchedSpecificPageWork?searchStr={{searchStr}}&pageForView={{page}}" >
              [
              {% ifequal page pageForView %}
                  <b>
              {% endifequal %}
              {{page}}

              {% ifequal page pageForView  %}
                  </b>
              {% endifequal %}
              ]
          {% endfor %}
          </td> </tr>
  </table>

  <table width=700>
      <tr>
          <td><input type=button value="Back to List"  OnClick="window.location='/'">
      </tr>
  </table>
{% endblock content %}
